export(CFA)
export(binomial_test_cfa)
export(chi_local_test_cfa)
export(dat2fre)
export(design_cfg_cfa)
export(df_des_cfa)
export(expected_cfa)
export(fre2dat)
export(pos_cfg_cfa)
export(stirling_cfa)
export(z_tests_cfa)
exportClasses(CFA)
exportClasses(Pfreq)
